<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/order.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length <= 0) { %>
            <h1>Nothing there!</h1>
            <% }else{ %> 
             <ul>
             <% orders.forEach(order => { %>
             <li class='order'>
             <h1 class="order-id">Order - # <%= order._id %></h1>
                <ul class="order-item"> 
                <% order.products.forEach(p => { %>
                    <li class='order-item-detail'> 
                     <span class='order-item-title'><%= p.productData.title %></span> <span class="order-item-qty"> Qty:<%= p.quantity %></span>
                    </li>
                <% }) %>
                </ul>
             
             </li>
                 
             <% }); %>
             </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>